 .navbar{
    background-color: rgb(18, 119, 212);
}
ul li a{
    color: rgb(22, 21, 21);
    font-size: 20px;
    font-weight: bolder;
}
ul li a:hover{
    color:white;
}
a { 
    display: block;
    padding: 10px 50px !important;
}
.login{
    background-color: white !important;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: bolder !important;
}
.icon{
   color:white !important;
}
.btn-customized{
    background-color: black !important;
    color: white !important;
}
.footer{
    background-color: rgb(33, 112, 214);
    color: white;
    height: 143px;
}
.footer ul li {
    list-style:none;
    float: left;
}
.footer ul li a{
    color: white;
}
#error1{
    color:red;
}
#error2{
    color:red;
}
#error1 #valid{
    color:rgb(15, 250, 15);
    float:right
}
#error2 #validpsw{
    color:rgb(15, 250, 15);
    float:right
}
.brand{
    background-color: black;
    color:white;
    font-weight:900;
    font-size: 30px;
    font-family: sans-serif;
    padding-left:15px;
    padding-top:5px ;
    padding-right:15px ;
    padding-bottom:5px ;
    border-radius:1px 10px 10px 1px;
}
.subheading{
    color:black;
    font-family: sans-serif;
    font-size: 10px;
}